<div class="card lg:w-96 w-full max-w-md mx-auto">
  <% if alert = flash[:alert] %>
    <div class="alert alert-error">
      <span><%= alert %></span>
    </div>
  <% end %>

  <% if notice = flash[:notice] %>
    <div class="alert alert-success">
      <span><%= notice %></span>
    </div>
  <% end %>

  <div class="card-body">
    <h2 class="card-title">Sign in</h2>

    <%= form_with url: session_url, class: "contents" do |form| %>
      <div class="form-control">
        <label class="label">Email Address</label>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <label class="label">Password</label>
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input input-bordered" %>
      </div>

      <div class="card-actions">
        <%= form.submit "Sign in", class: "btn btn-primary" %>
        <%= link_to "Forgot password?", new_password_path, class: "btn btn-ghost btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
